<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Smart Electricity Bill Predictor</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">
        <h1>⚡ Smart Electricity Bill Predictor</h1>

<button id="themeBtn" onclick="toggleTheme()">🌙 Dark Mode</button>

        <input type="text" id="appliance" placeholder="Enter Appliance Name">

<input type="number" id="watt" placeholder="Enter Wattage">

<input type="number" id="hours" placeholder="Enter Usage Hours">

<button onclick="addAppliance()">Add Appliance</button>

<button onclick="calculateBill()">Calculate Bill</button>

<div id="applianceList"></div>

<h2 id="result"></h2>

<h3 id="futurePrediction"></h3>

<h3 id="carbonEmission"></h3>

<h3 id="applianceRanking"></h3>

<canvas id="billChart"></canvas>

<button onclick="saveBill()">Save Bill History</button>

<button onclick="resetData()">Reset Data</button>

<h3>Previous Bills</h3>
<div id="historyList"></div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
</body>
</html>
